.ItemDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    margin-top: -10vh;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.itemImg {
    height: 300px;
}