.NavBar {
    display: flex;
    justify-content: space-between;
    color: #04A118;
    font-size: 24px;
    width: 100vw;
    height: 15vh;
    border-bottom: 1px solid #04A118;
}

.logo {
    height: 10vh;
    margin: 1.5vw 2vh 2vh 5vh;
}

.linksCont {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.navItem {
    margin-bottom: 2vh;
}

.cartIcon {
    fill: #04A118;
}