.ItemCount {
    overflow: hidden;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemCount button{
    color: white;
    background-color: #04A118;
    border: solid 1px #04A118;
    margin: 10px;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%
    }

.ItemCount button:hover {
    color: #04A118; 
    background-color: white;  
}

.count {
    font-size: 24px;
}

.bttnCont{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}

.addBtn {
    width: 50% !important;
}

.add {
    color: white;
    font-weight:600;
    font-size: 15px;
    padding: 5px;
}

.add:hover {
    color: #04A118; 
}


